---
title: Team
hero: Meet the Team
---

<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="staff-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
			<div class="name">{{ person.name }}</div>
			<div class="position">{{ person.position }}</div>
			<div class="bio">{{ person.bio }}</div>
			<div style="display: block;">
				{% if person.website %} <a class="website social-button" href="{{ person.website }}"><i class="fa-solid fa-paperclip"></i></a> {% endif %}
				{% if person.instagram %} <a class="instagram social-button" href="{{ person.instagram }}"><i class="fa-brands fa-instagram"></i></a> {% endif %}
				{% if person.linkedin %} <a class="linkedin social-button" href="{{ person.linkedin }}" ><i class="fa-brands fa-linkedin"></i></a> {% endif %}
				{% if person.github %} <a class="github social-button" href="{{ person.github }}"><i class="fa-brands fa-github"></i></a> {% endif %}
			</div>
		</li>
	{% endfor %}
</ul>

<div class="thirds story-points">
	<div>
		<h3 class="editable">Our Team</h3>
		<p class="editable">
			The CSSA is the main governing body for computer science, which sounds intimidating, but we’re just regular students, too.<br />
			<br />We want to support you in your degree by fostering a strong, welcoming community and voicing your needs to the department, the faculty of science, and the university as a whole.
		</p>
	</div>
	<div>
		<h3 class="editable">What we do</h3>
		<p class="editable">
			We have a lot of exciting events coming up this year that we can’t wait to share!<br />
			<br />These events will be advertised on posters around campus, but for the latest updates, be sure to join our Discord server.<br />
			<br />This server is not only for keeping up with the clubs, but has channels for each course for you to meet your classmates and get help with content, as well as casual channels to share jokes and make friends.
		</p>
	</div>
	<div>
		<h3 class="editable">How to get Involved</h3>
		<p class="editable">
			Don’t be shy, feel free to drop by the lounge at E1-586 and say hi: the supervisors are all really friendly.<br />
			<br />You’ll find directions on how to get there <a href="https://linktr.ee/umcssa">here</a>.<br />
			<br />We’re also preparing for our first general meeting, where we’ll share more about what we have planned for summer term and the rest of the year, so make sure you keep an eye on our socials if you’re interested in getting involved!
		</p>
	</div>
</div>
