---
title: Resources
hero: Resources
---

<!-- <ul class="resources">
	{% for resource in site.resources %}
		<li>
			<div class="resource-image" style="background-image: url({% include relative-src.html src=resource.image_path %})"></div>
			<div class="name">{{ resource.name }}</div>
			<div class="link">{{ resource.link }}</div>
			<div class="info">{{ resource.info }}</div>
			
		</li>
	{% endfor %}
</ul> -->

<ul class="resources">
	{% for resource in site.resources %}
		<li>
			<div class="name">{{ resource.name }}</div>
		</li>
	{% endfor %}
</ul>


<!-- <div class="content" id="products">
	<section>
		<div class="container">
			<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_products" class="btn"><strong>&#9998;</strong> Manage products</a></p>
			<ul class="product-list">
				{% for product in site.products %}
					<li>
						{% include product-styles.html product=product %}
						<div class="product-details">
							<h4><a href="{{ product.url }}">{{ product.name }}</a></h4>
							<div class="product-description">
								{{ product.description_markdown | truncate: 45 | markdownify }}
							</div>
							<p>${{ product.price }}</p>
						</div>
					</li>
				{% endfor %}
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</section>
</div> -->
