<footer>
    <div class="container">
        <ul class="footer-columns">
            <li class="about">
                <div class="company-name">{% include logo.html %} <span>{{ site.title }}</span></div>
                <p class="editable">
                    The representative CS student body to the Computer Science Department and Faculty of Science, providing advocacy, events, and more. <br /><br />Come visit us in EITC E1-586!
                </p>
            </li>

            <li class="footer-nav">
                <h4>Help</h4>
                <ul>
                    <li>
                        <a href="/resources/" target="_blank" rel="noopener noreferrer">
                            Resources
                        </a>
                    </li>
                    <li>
                        <a href="https://umanitoba.ca/student-supports/counselling-resources-students target="_blank" rel="noopener noreferrer">
                            Student Counseling Center
                        </a>
                    </li>
                    <li>
                        <a href="https://sci.umanitoba.ca/students/undergraduate-students/academic-advisors/ " target="_blank" rel="noopener noreferrer">
                            Science Academic Advisors
                        </a>
                    </li>
                    <!-- <li><a href="/about/">About</a></li> -->
                    <!-- <li><a href="/contact/">Contact</a></li> -->
                </ul>
            </li>

            <li class="footer-nav">
                <h4>Community</h4>
                <ul>
                    <li>
                        <a href="devclub.ca" target="_blank" rel="noopener noreferrer">
                            .devClub
                        </a>
                    </li>
                    <li>
                        <a href="https://umwics.vercel.app/" target="_blank" rel="noopener noreferrer">
                            wics Council
                        </a>
                    </li>
                    <li>
                        <a href="https://umsu.ca/student-clubs-associations/student-clubs/university-of-manitoba-minecraft-club-ummc/ " target="_blank" rel="noopener noreferrer">
                            UMMC
                        </a>
                    </li>
                    <!-- <li><a href="/shipping/">Shipping</a></li> -->
                    <!-- <li><a href="/returns/">Returns</a></li> -->
                </ul>
            </li>

            <li>
                <h4>Contact Us</h4>
                <p class="email"><a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></p>
                <!-- <p><a href="tel:{{ site.author.phone }}">{{ site.author.phone }}</a></p> -->

                <div class="social-icons">
                    <!-- <a class="facebook" href="https://facebook.com/">{% include social-icon.html icon="Facebook2" %}</a> -->
                    <!-- <a class="twitter" href="https://twitter.com/">{% include social-icon.html icon="Twitter" %}</a> -->
                    <!-- <a class="youtube" href="https://youtube.com//">{% include social-icon.html icon="YouTube" %}</a> -->
                    <!-- <a class="linkedin" href="https://nz.linkedin.com/company//">{% include social-icon.html icon="LinkedIn" %}</a> -->
                </div>
            </li>
        </ul>
        <p class="copyright">All Rights Reserved &copy; {{ site.time | date: '%Y' }} {{ site.title }}</p>
    </div>
</footer>