<header>
    <div class="container">
        <div class="company-name"><a href="{{ site.baseurl }}/">{% include logo.html %}<span>{{ site.title }}</span></a></div>
        {% include navigation.html %}
    </div>

    <section class="hero"	>
        <div class="text-container">
            {% if page.hero %}
                <h2>{{ page.hero }}</h2>
            {% elsif page.name %}
                <h2>{{ page.name }}</h2>
            {% endif %}

            {% if page.subtitle %}
                <p>{{ page.subtitle }}</p>
            {% endif %}
        </div>
    </section>
</header>